
.curly{
    font-size: 30px;
    background: rgb(180, 251, 255);
    color: black;
    padding-top: 20px;
}
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    text-decoration: none;
    list-style: none;
     box-sizing: border-box;

}

:root{

    --color-primary:blue;
    --color-success:rgb(25, 225, 10);
    --color-wanring:yellow;
    --color-danger:red;
    --color-danger-variant:rgb(255, 217, 0);
    --color-white:white;
    --color-balck:rgb(0, 0, 0);
    --color-bg: #161822  ;
    --color-bg1: #45A29E;
    --color-bg2: #66FCF1;



    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;


}
body{

    font-family: "Noto Serif", serif;
    line-height: 1.7;
    color :var(--color-white);
    background: var(--color-bg);

}

.container{
 width: var(--container-width-lg);
 margin: 0 auto;
}

section{

    padding:6rem 0;

}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}
h2{

    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
nav{
    background:transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top:0;
    z-index: 11;
}
header{
    position: relative;
    top: 6rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    gap: 5rem;
}

.header__left p {
    margin:  1rem 0 2.4rem;
}
